<h2 class="visually-hidden">
    Articles control</h2>
<button class="prev-page" type="button"><svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 2L3 15L16 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4"/>
        </svg>
        </button>
<ul class="page-list">
    <li>
        <button class="page-item page-item-active" type="button">1</button>
    </li>
    <li>
        <button class="page-item" type="button">2</button>
    </li>
    <li>
        <button class="page-item" type="button">3</button>
    </li>
    <li>
        <button class="page-item" type="button">4</button>
    </li>
</ul>
<button class="next-page" type="button"><svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2L15 15L2 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4"/>
        </svg>
        </button>