@import "../../../node_modules/swiper/swiper-bundle.css";
@mixin navigate-categoty {
    border: none;
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2);
    cursor: pointer;
}

@mixin dlk-about-property {
    max-width: 543px;
    width: 100%;
}

@mixin dlk-info-block {
    &__wrapper {
        padding: 23px 30px 35px;
        background-color: #E1F0F7;
    }
    &__titles {
        margin: 0 0 -22px 30px;
    }
    &__btn {
        margin-top: 20px;
        max-width: 123px;
    }
}


/* SLIDER */

.slider {
    &-container {
        margin-top: 69px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        padding-right: 100px;
        background-color: #EEE4DB;
    }
    &__control {
        margin-top: 18px;
        margin-left: 28px;
        width: 15%;
    }
    &__counter {
        font: {
            family: var(--font-montserrat);
            style: normal;
            weight: 300;
            size: 60px;
        }
        line-height: 73px;
        color: rgba(30, 6, 6, 0.05);
    }
    &__toggle {
        ul {
            list-style-type: none;
            margin: 10px 0 50px 3px;
            padding: 0;
            line-height: 0;
        }
    }
    &__toggle-item {
        margin-bottom: 11px;
    }
    &__toggle-btn {
        width: 31px;
        height: 3px;
        vertical-align: middle;
        background: #D6CAC2;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: .4s;
        &:hover {
            background: rgba(30, 6, 6, 0.6);
        }
        &_active {
            background: rgba(30, 6, 6, 0.6);
        }
    }
    &__text {
        width: auto;
        padding: 90px 0 0 19px;
        p {
            font: {
                family: var(--font-crimsontext);
                style: italic;
                weight: normal;
                size: 20px;
            }
            line-height: 25px;
            color: #1E0606;
        }
    }
    &__text-btn {
        max-width: 161px;
        width: 100%;
        margin-bottom: 50px;
        white-space: nowrap;
        border: none;
        transition: .4s;
        &:hover {
            background: #C29974;
        }
        &:active {
            background: #CFAF91;
        }
    }
    &__title {
        font-size: 40px;
    }
    &__text-item {
        margin: 0 0 18px 0;
    }
    &__img {
        display: block;
        margin-top: -89px;
    }
    &__footer {
        padding: 11px 0;
        background-color: #C29974;
        position: relative;
        bottom: 27px;
        text-align: center;
        p {
            margin: 0;
            color: #fff;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
        }
    }
}


/* CATEGORY */

.category {
    padding-top: 31px;
    &__title {
        font-family: var(--font-montserrat);
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: #1E0606;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        min-width: 0;
    }
    &__item {
        display: flex;
        width: 280px;
        height: 270px;
        padding: 0 44px;
        box-sizing: border-box;
        overflow: hidden;
        h3 {
            margin: auto;
            font-family: var(--font-montserrat);
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 32px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
            transition: .4s;
            &:hover,
            &:active {
                text-decoration-line: underline;
            }
        }
    }
    &__item_one {
        background: url(/static/images/category-kids.png) no-repeat center;
        background-blend-mode: multiply;
        background-color: #DBE4DB;
    }
    &__item_two {
        background: url(/static/images/category-holiday.png) no-repeat center;
        background-blend-mode: multiply;
        background-color: #EADDD3;
    }
    &__item_three {
        background: url(/static/images/category-toys.png) no-repeat center;
        background-blend-mode: multiply;
        background-color: #F8F2DA;
    }
    &__item_four {
        background: url(/static/images/category-accessories.png) no-repeat center;
        background-blend-mode: multiply;
        background-color: #D5D4E1;
    }
    &__item_five {
        background: url(/static/images/category-sale.png) no-repeat center;
        background-blend-mode: multiply;
        background-color: #F3D0DB;
    }
    &__item_six {
        background: url(/static/images/category-adults.png) no-repeat center;
        background-blend-mode: multiply;
        background-color: #E5EAF8;
    }
    &__description {
        max-width: 50%;
        color: #1E0606;
    }
}

.control {
    display: flex;
    align-items: center;
    padding-top: 14px;
    &__btn_prev {
        @include navigate-categoty;
        margin-right: 6px;
        &::after {
            content: ' ';
            display: block;
            background-image: url('/static/images/prev-arrow.svg');
            background-size: 24px 29px;
            background-repeat: no-repeat;
            height: 32px;
            width: 28px;
        }
    }
    &__btn_next {
        @include navigate-categoty;
        margin-right: 20px;
        &::after {
            content: ' ';
            display: block;
            background-image: url('/static/images/next-arrow.svg');
            background-size: 24px 29px;
            background-repeat: no-repeat;
            height: 32px;
            width: 28px;
        }
    }
    &__description {
        max-width: 50%;
        color: #1E0606;
    }
}


/* Delivery */

.delivery {
    padding-top: 74px;
    display: flex;
    &__crop-img {
        max-width: 480px;
        width: 100%;
        height: 559px;
        overflow: hidden;
        img {
            margin: 0px 0px 0 -10px;
            max-width: 500px;
        }
    }
    &__content {
        padding-left: 121px;
        width: 100%;
        p {
            margin: 15px 0 0 0;
            max-width: 470px;
        }
    }
    &__title {
        margin: 30px 0 6px;
    }
    &__menu {
        margin: 0 0 29px 0;
        padding: 0;
        list-style-type: none;
        font-family: var(--font-crimsontext);
        font-style: italic;
        font-weight: normal;
        font-size: 26px;
        line-height: 34px;
    }
    &__menu-item {
        margin: 20px 0;
    }
    &__menu-item_active {
        font-weight: bold;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: -15px;
            right: 315px;
            width: 326px;
            height: 55px;
            z-index: -1;
            background: rgba(112, 187, 220, 0.2);
        }
    }
    &__learn-btn {
        max-width: 149px;
        width: 100%;
        margin-top: 26px;
    }
}


/* Company */

.company {
    padding: 90px 0 86px 0;
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}


/* DLK info */

.dlk-info {
    display: flex;
    padding-bottom: 60px;
    &__item {
        margin-right: 57px;
    }
}

.about-us {
    @include dlk-about-property;
    h3 {
        margin: 11px 0 0 0;
        font-family: var(--font-crimsontext);
        font-style: italic;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
    }
    p {
        margin: 10px 0 0 0;
    }
    @include dlk-info-block;
}

.contacts {
    @include dlk-about-property;
    position: relative;
    p {
        margin: 19px 0 0 0;
    }
    &::after {
        content: '';
        position: absolute;
        top: 23px;
        left: 0px;
        max-width: 543px;
        width: 100%;
        max-height: 209px;
        height: 100%;
        background-color: #E1F0F7;
        z-index: -1;
    }
    @include dlk-info-block;
    &__map {
        display: block;
        margin: -15px auto 0;
        width: 483px;
        height: 196px;
        border: 0;
    }
}

@media screen and (max-width: 1200px) { 
    .slider{
        &__img-box {
            align-self: flex-end;
            width: 17vw;
        }
        &__img {
            margin-top: 0;
            max-width: 43vw;
            float: right;

        }
        &__counter {
            font-size: 48px;
            line-height: 59px;
        }
        &-container {
            margin-top: 0;
        }
        &__toggle-btn {
            width: 27px;
            height: 2.67px;
        }
    }
}

@media screen and (max-width: 768px) { 
    .slider {
        &__control {
            margin-top: 16px;
            margin-left: 0;
            width: 10%;
        }
        &__toggle ul {
            margin: 5px 0 50px 0px;
        }
        &__toggle-item {
            margin-bottom: 9px;
        }
        &__text {
            padding: 77px 0 0 11px;
        }
        &__img {
            max-width: none;
        }
        &__body {
            padding-right: 10px;
            padding-bottom: 27px;
            min-height: 48.7vw;
        }
    }
    
    .category {
        &__item_one {
            background: url(/static/images/category-kids-tablet.png) no-repeat center;
            background-color: #DBE4DB;
        }
        &__item_two {
            background: url(/static/images/category-holiday-tablet.png) no-repeat center;
            background-color: #EADDD3;
        }
        &__item_three {
            background: url(/static/images/category-toys-tablet.png) no-repeat center;
            background-color: #F8F2DA;
        }
        &__item_four {
            background: url(/static/images/category-accessories-tablet.png) no-repeat center;
            background-color: #D5D4E1;
        }
        &__item_five {
            background: url(/static/images/category-sale-tablet.png) no-repeat center;
            background-color: #F3D0DB;
        }
        &__item_six {
            background: url(/static/images/category-adults-tablet.png) no-repeat center;
            background-color: #E5EAF8;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) { 
    .slider__img {
        max-width: 58vw;
    }

}

@media screen and (max-width: 576px) { 
    .slider {
        &__title {
            font-size: 36px;
            line-height: 110%;
        }
        &__text p {
            font-size: 18px;
            line-height: 22px;
        }
        &__text-btn {
            font-size: 14px;
            line-height: 19px;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 575px) { 
    .slider__img {
        max-width: 40vw;
    }
}

@media screen and (max-width: 375px) { 
    .slider {
        &__control {
            order: 1;
            margin-top: 23px;
            width: 30%;
        }
        &__text-btn {
            max-width: 142px;
        }
        &__toggle {
            margin-left: 23px;
        }
        &__body {
            position: relative;
            min-height: 116.7vw;
        }
        &__text {
            padding: 83px 0 0 20px;
        }
        &__img-box {
            position: absolute;
            right: 0;
            bottom: 6%;
        }
        &__img {
            max-width: 79vw;
        }
        &__text-item {
            margin: 0 0 15px;
        }
        &__footer {
            p {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .category {
        &__item_one {
            background: url(/static/images/category-kids-mobile.png) no-repeat center;
            background-color: #DBE4DB;
        }
        &__item_two {
            background: url(/static/images/category-holiday-mobile.png) no-repeat center;
            background-color: #EADDD3;
        }
        &__item_three {
            background: url(/static/images/category-toys-mobile.png) no-repeat center;
            background-color: #F8F2DA;
        }
        &__item_four {
            background: url(/static/images/category-accessories-mobile.png) no-repeat center;
            background-color: #D5D4E1;
        }
        &__item_five {
            background: url(/static/images/category-sale-mobile.png) no-repeat center;
            background-color: #F3D0DB;
        }
        &__item_six {
            background: url(/static/images/category-adults-mobile.png) no-repeat center;
            background-color: #E5EAF8;
        }
    }
}

@media screen and (max-width: 374px) { 
    .slider{
        &__text {
            padding: 0;
            padding: 10vw 0 0;
        }
        &__title {
            font-size: 1.6rem;
        }
        &__body {
            position: relative;
            min-height: 111vw;
        }
        &__img {
            max-width: 65vw;
        }
    }

    .container {
        width: 90%;
    }

}
//retina display min-resolution: 2dppx

@media screen and (min-resolution: 2dppx) and (min-width: 769px){
    .category {
        &__item_one {
            background: 280px 270px url(/static/images/category-kids@2x.png) no-repeat center;
            background-color: #DBE4DB;

        }
        &__item_two {
            background: 280px 270px url(/static/images/category-holiday@2x.png) no-repeat center;
            background-color: #EADDD3;
        }
        &__item_three {
            background: 280px 270px url(/static/images/category-toys@2x.png) no-repeat center;
            background-color: #F8F2DA;
        }
        &__item_four {
            background: 280px 270px url(/static/images/category-accessories@2x.png) no-repeat center;
            background-color: #D5D4E1;
        }
        &__item_five {
            background: 280px 270px url(/static/images/category-sale@2x.png) no-repeat center;
            background-color: #F3D0DB;
        }
        &__item_six {
            background: 280px 270px url(/static/images/category-adults@2x.png) no-repeat center;
            background-color: #E5EAF8;
        }
    }
}


@media screen and (min-resolution: 2dppx) and (max-width: 768px) { 
    .category {
        &__item_one {
            background: 258px 249px url(/static/images/category-kids-tablet@2x.png) no-repeat center;
            background-color: #DBE4DB;
        }
        &__item_two {
            background: 258px 249px url(/static/images/category-holiday-tablet@2x.png) no-repeat center;
            background-color: #EADDD3;
        }
        &__item_three {
            background: 258px 249px url(/static/images/category-toys-tablet@2x.png) no-repeat center;
            background-color: #F8F2DA;
        }
        &__item_four {
            background: 258px 249px url(/static/images/category-accessories-tablet@2x.png) no-repeat center;
            background-color: #D5D4E1;
        }
        &__item_five {
            background: 258px 249px url(/static/images/category-sale-tablet@2x.png) no-repeat center;
            background-color: #F3D0DB;
        }
        &__item_six {
            background: 258px 249px url(/static/images/category-adults-tablet@2x.png) no-repeat center;
            background-color: #E5EAF8;
        }
    }
}
@media screen and (min-resolution: 2dppx) and (max-width: 375px) { 
    .category {
        &__item_one {
            background: 247px 238px url(/static/images/category-kids-mobile@2x.png) no-repeat center;
            background-color: #DBE4DB;
        }
        &__item_two {
            background: 247px 238px url(/static/images/category-holiday-mobile@2x.png) no-repeat center;
            background-color: #EADDD3;
        }
        &__item_three {
            background: 247px 238px url(/static/images/category-toys-mobile@2x.png) no-repeat center;
            background-color: #F8F2DA;
        }
        &__item_four {
            background: 247px 238px url(/static/images/category-accessories-mobile@2x.png) no-repeat center;
            background-color: #D5D4E1;
        }
        &__item_five {
            background: 247px 238px url(/static/images/category-sale-mobile@2x.png) no-repeat center;
            background-color: #F3D0DB;
        }
        &__item_six {
            background: 247px 238px url(/static/images/category-adults-mobile@2x.png) no-repeat center;
            background-color: #E5EAF8;
        }
    }
}