.article {
    max-width: 380px;
    width: 100%;
    margin-bottom: 16px;
    &:not(:nth-child(3n+1)) {
        margin-right: 20px;
    }
    &__post-time {
        display: block;
        margin-top: 15px;
        color: #818181;
    }
    &__title {
        font-family: var(--font-montserrat);
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        margin: 6px 0 0;
        transition: .4s;
            &:active,
            &:hover {
                text-decoration-line: underline;
            }
    }
    &__text {
        font-size: 18px;
        line-height: 25px;
        margin: 14px 0 20px;
    }
}
