/* breadcrumbs */

.breadcrumbs {
    padding: 17px 0 50px;
}


/* category */

.category-wrapper {
    max-width: 1080px;
    width: 100%;
}

.category-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.category-item,
.category-item-right:not(:nth-child(3n)) {
    margin-right: 20px;
    margin-bottom: 23px;
}

.category-item+.category-item-right {
    margin-left: auto;
}

.category-link {
    display: flex;
    width: 280px;
    height: 270px;
    padding: 0 44px;
    box-sizing: border-box;
    overflow: hidden;
}

.category-item-right h3,
.category-item h3 {
    margin: auto;
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.category-item-right h3:hover,
.category-item-right h3:active,
.category-item h3:hover,
.category-item h3:active {
    text-decoration-line: underline;
}

.category-one {
    background: url(../../static/images/category-kids.png) no-repeat center;
    background-blend-mode: multiply;
    background-color: #DBE4DB;
}

.category-two {
    background: url(../../static/images/category-holiday.png) no-repeat center;
    background-blend-mode: multiply;
    background-color: #EADDD3;
}

.category-three {
    background: url(../../static/images/category-toys.png) no-repeat center;
    background-blend-mode: multiply;
    background-color: #F8F2DA;
}

.category-four {
    background: url(../../static/images/category-accessories.png) no-repeat center;
    background-blend-mode: multiply;
    background-color: #D5D4E1;
}

.category-five {
    background: url(../../static/images/category-sale.png) no-repeat center;
    background-blend-mode: multiply;
    background-color: #F3D0DB;
}

.category-six {
    background: url(../../static/images/category-adults.png) no-repeat center;
    background-blend-mode: multiply;
    background-color: #E5EAF8;
}


/* description */

.description {
    max-width: 680px;
    width: 100%;
    margin-left: 200px;
    padding: 32px 0 39px;
}

.description-title {
    margin: 0 0 24px;
}