@mixin contact-wrapper {
    box-sizing: border-box;
    width: 100%;
    font-family: var(--font-roboto);
    font-size: 18px;
    line-height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 13px 20px 10px;
    padding: 0px 10px;
    margin-top: 6px;
}

.modal-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(125, 151, 218, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    max-width: 680px;
    width: 100%;
    background: #E5EAF8;
    padding: 42px 40px;
    display: none;
    &__btn_cross {
        position: absolute;
        top: 0px;
        right: -31px;
        cursor: pointer;
        background: transparent;
        border: none;
        transition: .4s;
        &:hover {
            opacity: 0.5;
        }
        &:active {
            opacity: 0.3;
        }
    }
}

.popup-visible {
    display: block;
    z-index: 5;
}

.contact-form {
    label {
        font-family: var(--font-roboto);
        font-size: 14px;
        line-height: 16px;
        display: block;
    }
    &__wrapper {
        margin: 0;
        padding: 0;
        border: none;
        textarea {
            @include contact-wrapper;
            resize: none;
        }
        input:not([type=checkbox]) {
            @include contact-wrapper;
            padding: 12px 10px;
            transition: .4s;
            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.3);
            }
            &:active {
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
    &__data {
        justify-content: space-between;
        display: flex;
        margin-top: 20px;
        div {
            max-width: 290px;
            width: 100%;
        }
    }
    &__message {
        margin-top: 20px;
    }
    &__agreement {
        display: flex;
        margin-top: 17px;
        input[type=checkbox] {
            opacity: 0;
            position: absolute;
            width: 0;
            height: 0;
            transition: .4s;
            &:checked+label:after {
                opacity: 1;
            }
            &:focus+label::before {
                outline: #000 auto 1px;
            }
            &:disabled+label:after {
                background-image: url(../static/images/stroke.svg);
            }
            &:disabled+label::before {
                border: 2px solid #E1CDBA;
            }
        }
        label {
            position: relative;
            margin-left: 33px;
            &::before {
                content: '';
                position: absolute;
                left: -33px;
                top: -3px;
                width: 19px;
                height: 19px;
                border: 2px solid #C29974;
                box-sizing: border-box;
                border-radius: 3px;
            }
            &::after {
                content: '';
                position: absolute;
                left: -30px;
                top: -3px;
                width: 15px;
                height: 15px;
                background-image: url(../static/images/stroke.svg);
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 0;
            }
        }
    }
    &__btn {
        margin-top: 20px;
        font-family: var(--font-opensans);
    }
}

//MEDIA
@media screen and (max-width: 768px) {
    .modal-window {
        max-width: 84.4vw;
        padding: 43px 56px;
        &__btn_cross {
            top: -25px;
            right: -6px;
        }
    }
    .contact-form {
        &__data div {
            max-width: 33.7vw;
        }
        &__agreement {
            margin-top: 16px;
        }
        &__wrapper {
            input:not([type=checkbox]) {
                padding: 17px 18px 14px;
            }
            textarea {
                padding: 17px 20px;
            }
        }
        &__wrapper input:not([type=checkbox]),
        &__wrapper textarea {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .contact-form__data div {
        max-width: 47%;
    }
}

@media screen and (max-width: 575px) {
    .modal-window {
        padding: 25px;
    }
    .contact-form {
        &__data {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            div {
                max-width: 100%;
            }
        }
        &__email {
            margin-top: 15px;
        }
        &__wrapper {
            input:not([type=checkbox]) {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .modal-window {
        max-width: 89.1vw;
        padding: 25px;
    }
    .contact-form {
        &__wrapper {
            input:not([type=checkbox]) {
                padding: 12px 18px 12px;
                margin-top: 6px;
            }
        }
        &__btn {
            font-size: 14px;
            line-height: 19px;
            font-size: 14px;
            line-height: 19px;
            margin-top: 17px;
        }
        &__data {
            margin-top: 14px;
        }
        &__message {
            margin-top: 10px;
        }
        &__agreement {
            margin-top: 10px;
            label {
                margin-left: 29px;
                &::before {
                    left: -30px;
                    top: -1px;
                    width: 17px;
                    height: 17px;
                }
                &::after {
                    left: -28px;
                    top: -1px;
                }
            }
        }
    }
}