<div class="modal-overlay"></div>
<div class="modal-window">
    <h2 class="visually-hidden">Modal Window</h2>
    <form action="#" class="contact-form" method="POST">
        <fieldset class="contact-form__wrapper">
            <label class="contact-form__label-name" for="contact-name">Name</label>
            <input type="text" id="contact-name" name="name">
        </fieldset>
        <fieldset class="contact-form__wrapper contact-form__data">
            <div>
                <label for="contact-form__label-phone">Phone</label>
                <input type="tel" id="contact-phone" name="tel">
            </div>
            <div>
                <label for="contact-form__label-email">Email</label>
                <input type="email" id="contact-email" name="email">
            </div>
        </fieldset>
        <fieldset class="contact-form__wrapper contact-form__message">
            <label for="message-text">Message</label>
            <textarea id="message-text" name="message" rows="5"></textarea>
        </fieldset>
        <fieldset class="contact-form__wrapper contact-form__agreement">
            <input type="checkbox" name="agreement" id="agreement">
            <label for="agreement">By clicking on the button, you consent to the processing of your personal data</label>
        </fieldset>
        <button class="contact-form__btn button" type="submit" id="contact-button" disabled>Submit</button>
    </form>
    <button class="modal-window__btn_cross" type="button" aria-label="popup close"><img src="/static/images/cross.svg" alt="" width="15" height="15"></button>
</div>