.toys {
    &__item {
        max-width: 380px;
        margin-top: 46px;
        text-align: center;

        &:not(:nth-child(3n)) {
            margin-right: 20px;
        }

    }

    &__link {
        position: relative;
        display: block;
    }

    &__popup {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(43%, 43%);
        box-sizing: border-box;
        padding-top: 84px;
        max-width: 207px;
        width: 100%;
        max-height: 207px;
        height: 100%;
        background: #E5EAF8;
        opacity: 0.9;
        font-family: var(--font-montserrat);
        font-weight: bold;
        font-size: 26px;
        line-height: 29px;
        text-transform: uppercase;

        &:hover {
            display: block;
        }

        &:active {
            display: block;
            opacity: 0.67;
        }
    }

    &__title {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        margin: 24px 0 0;
        text-transform: uppercase;
    }

    &__price {
        display: block;
        font-weight: bold;
        margin-top: 16px;
    }

    &__link img:hover+&__popup {
        display: block;
    }

    &__link img:active+&__popup {
        display: block;
        opacity: 0.67;
    }
}