<li class="toys__item">
    <a class="toys__link" href="#">
        <picture>
            <source srcset="@@url-mobile, @@url-mobile2x 2x" media="(max-width: 375px)">
            <source srcset="@@url-tablet, @@url-tablet2x 2x" media="(max-width: 768px)">
            <source srcset="@@url-img, @@url-img2x 2x">
            <img src="@@url-img" alt="Toys image"/>
        </picture>
        <span class="toys__popup">LEARN MORE</span>
        <h3 class="toys__title">@@title</h3>
        <span class="toys__price">$@@price USD</span>
    </a>
</li>