<header class="header container">
    <a href="/"><img src="/static/images/DLK-logo.svg" alt="logo" class="header-logo" width="100" height="52"></a>
    <nav class="main-menu" aria-label="Main menu">
        <ul class="header-list">
            <li class="header-item"><a href="/pages/blog/">Blog</a></li>
            <li class="header-item"><a href="/pages/catalog/">Catalog</a></li>
            <li class="header-item"><a href="#">About Us</a></li>
        </ul>
    </nav>
    <form class="search-form" action="#" method="post">
        <input class="search-text" type="search" placeholder="Search here...">
        <img class="search-img" src="/static/images/search.svg" alt="" width="24" height="24">
    </form>
    <a class="contact-link" href="/pages/contact/">Contact Us</a>
</header>