<header class="header container">
    <a href="/"><img src="/static/images/DLK-logo.svg" alt="logo" class="logo" width="100" height="52"></a>
    <nav class="header__nav" aria-label="Main menu">
        <ul class="header__list">
            <li class="header__item"><a href="/pages/catalog/">Catalog</a></li>
            <li class="header__item"><a href="#">About Us</a></li>
            <li class="header__item"><a href="/pages/blog/">Blog</a></li>
            <li class="header__item"><a href="/pages/animation/">Animation</a></li>
            <li class="header__item"><a href="#">SVG</a></li>
            <li class="header__item"><a href="/pages/grid/">Grid</a></li>
        </ul>
    </nav>
    <form class="search-form" action="#" method="post">
        <input class="search-form__text" type="search" placeholder="Search here...">
        <img class="search-form__img" src="/static/images/search.svg" alt="" width="24" height="24">
    </form>
    <a class="header__contact-link" href="/pages/contact/">Contact Us</a>
</header>