:root {
    --font-opensans: 'Open Sans', Verdana, sans-serif;
    --font-montserrat: 'Montserrat', Verdana, sans-serif;
    --font-roboto: 'Roboto', Arial, sans-serif;
    --font-crimsontext: 'Crimson Text', 'Times New Roman', serif;
}