/* filter-block */

.filters {
    background: rgba(125, 151, 218, 0.2);
    padding: 41px 0 24px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    h3 {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
    &__apply-btn {
        margin-right: 85px;
        display: block;
        max-width: 95px;
        width: 100%;
        margin: 37px 0 0 60px;
    }

}

/* cost */

.cost {
    max-width: 207px;
    width: 100%;
    &__values {
        display: flex;
        justify-content: space-between;
        margin-top: 11px;
    }
    &__range {
        -webkit-appearance: none;
        width: 188px;
        margin-left: 5px;
        margin-top: 25px;
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            border-radius: 1px;
            background: linear-gradient(to right, #C29974 calc(var(--value)*1%), #72757C 0);
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            border: 8px solid #C29974;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            margin-top: -10px;
        }
        &:hover {
            &::-webkit-slider-thumb {
                opacity: 0.9;
            }
            &::-moz-range-thumb {
                opacity: 0.9;
            }
        }
        &::-moz-range-track {
            -moz-appearance: none;
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: #72757C;
            border-radius: 1px;
        }
        &::-moz-range-thumb {
            -moz-appearance: none;
            height: 24px;
            width: 24px;
            border: 8px solid #C29974;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            margin-top: -10px;
        }
        &::-ms-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: #000000;
            opacity: 0.5;
            border-color: transparent;
            color: transparent;
        }
        &::-ms-fill-lower {
            background: #C29974;
        }
        &::-ms-fill-upper {
            background: #000000;
            opacity: 0.5;
        }
        &::-ms-thumb {
            -ms-appearance: none;
            box-sizing: border-box;
            height: 24px;
            width: 24px;
            border: 8px solid #C29974;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            margin-top: 0px;
        }
    }
}

/* filter-color */
.color-wrapper {
    margin-left: 94px;
}
.color {
    &__list {
        width: 76px;
        li {
            margin-top: 15px;
        }
    }
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }
    label {
        position: relative;
        margin-left: 30px;
        cursor: pointer;
        transition: .4s;
        &::before {
            content: '';
            position: absolute;
            left: -30px;
            top: 0;
            width: 19px;
            height: 19px;
            border: 2px solid #C29974;
            box-sizing: border-box;
            border-radius: 3px;
        }
        &::after {
            content: '';
            position: absolute;
            left: -27px;
            top: 0;
            width: 15px;
            height: 15px;
            background-image: url(../../static/images/stroke.svg);
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
        }
        &:hover {
            text-decoration-line: underline;
        }
    }
    input[type=checkbox]:checked+label:after {
        opacity: 1;
    }
    input[type=checkbox]:checked+label:before {
        background-color: #fff;
    }
    input[type=checkbox]:focus+label::before {
        outline: #000 auto 1px;
    }
}

/* filter-delivery */
.delivery-wrapper {
    margin-left: 123px;
}

.delivery {
    width: 132px;
    &__list {
        margin-left: 31px;
        li {
            margin-top: 9px;
        }
    }
    input[type=radio] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }
    label {
        position: relative;
        cursor: pointer;
        transition: .4s;
        &::before {
            content: '';
            position: absolute;
            left: -30px;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #C29974;
            box-sizing: border-box;
            border-radius: 50%;
        }
        &::after {
            content: '';
            position: absolute;
            left: -26px;
            top: 4px;
            width: 12px;
            height: 12px;
            background: #C29974;
            border-radius: 50%;
            opacity: 0;
        }
        &:hover {
            text-decoration-line: underline;
        }
    }
    input[type=radio]:checked+label:after {
        opacity: 1;
    }
    input[type=radio]:focus+label:after {
        outline: #000 auto 1px;
    }
}




/* filter-amount */
.amount-wrapper {
    margin-left: 69px;
}

.amount {
    input[type=radio] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        &:checked+label {
            background: #F3D0DB;
        }
        &:hover+label {
            background: #EDDEEB;
            color: #877379;
        }
        &:focus+label {
            outline: #000 auto 1px;
        }
    }
    label {
        display: block;
        width: 80px;
        text-align: center;
        background-color: #fff;
        padding: 7px 0 6px;
        cursor: pointer;
        transition: .4s;
    }
    &__list {
        display: flex;
    }
}

/* toys-list */

.toys {
    padding-bottom: 44px;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        list-style-type: none;
    }
}


//MEDIA 

@media screen and (max-width: 1200px) {
    .filters {
        &__wrapper {
            justify-content: space-between;
        } 
        
    }
    .toys {
        &__item:not(:nth-child(3n)) {
            margin-right: 0;
        }
        &__item {
            max-width: 50%;
        }
    }


}

@media screen and (max-width: 768px) {
    .page-title {
        font-size: 36px;
        line-height: 44px;
        margin-top: 35px;
    }
    .breadcrumbs {
        padding: 12px 0 29px;
    }
    .filters {
        padding: 29px 0 14px;
        &__wrapper {
            justify-content: flex-start;
        } 
    }
    .cost__values {
        width: 98%;
    }
    .color-wrapper {
        margin-left: 71px;
    }
    .delivery {
        margin-left: 90px;
    }
    .amount-wrapper {
        margin-left: 0;
        margin-top: 3px;
    }
    .filters__apply-btn {
        margin: 37px 0 0 209px;
    }
    .toys {
        padding-bottom: 0;
        &__list {
            margin-top: 40px;
        }
        &__item {
            max-width: 203px;
            height: 37.5vw;
            margin-top: 10px;
        }
        &__title {
            font-size: 12px;
            line-height: 16px;
            margin: 11px 0 0;
        }
        &__price {
            font-size: 14px;
            line-height: 19px;
            margin-top: 4px;
        }
    }
    .pagination {
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 767px) {

    .delivery {
        margin-left: 30px;
    }
    .amount-wrapper {
        margin-left: 30px;
    }
    .cost {
        margin-bottom: 15px;
    } 
    .toys {
        &__item {
            height: auto;
        }
        &__popup {
            max-width: 157px;
            max-height: 157px;
            font-size: 16px;
            line-height: 0px;
        }
    }
    
}

@media screen and (max-width: 375px) {
    .page-title {
        font-size: 24px;
        line-height: 29px;
        margin-top: 20px;
    }
    .breadcrumbs {
        font-size: 16px;
        line-height: 20px;
        padding: 12px 0 19px;
        &__list li {
            margin-right: 11px;
        }

        &__link::after {
            background-size: 11px 11px;
            margin-left: 15px;
            height: 10px;
            width: 9px;
        }
    }
    .filters {
        padding: 24px 0 14px;
        font-size: 14px;
        line-height: 19px;
        ul {
            margin: 0;
        }
        &__wrapper h3 {
            font-size: 14px;
            line-height: 19px;
        }
        &__apply-btn {
            margin: 23px auto 11px;
        }
    }
    .cost {
        max-width: 265px;
        margin-bottom: 25px;
        &__values {
            width: 76%;
            margin-top: 5px;
        }
    }  
    .color {
        label {
            margin-left: 24px;
            &::before {
                left: -24px;
                width: 17px;
                height: 17px;
           }
           &:after {
                left: -22px;
           }
        }
        &__list li {
            margin-top: 11px;
        }
        &-wrapper {
            margin-left: 0;
        }
    }
    .delivery {
        margin-left: 100px;
        & &__list {
            margin-left: 22px;
            margin-top: 13px;
            li {
                margin-top: 13px;
            }
        }
        label {
            &::before {
                left: -24px;
                top: -1px;
                width: 17px;
                height: 17px;
            }
            &::after {
                left: -20px;
                top: 3px;
                width: 9px;
                height: 9px;
            }
        }
    }
    .amount {
        h3 {
            margin-bottom: 10px;
        }
        &-wrapper {
            margin-top: 26px;
            margin-left: 0;
            width: 100%;
        }
    }
    .toys {
        &__price {
            font-size: 12px;
            line-height: 16px;
            margin-top: 4px;
        }
        &__item {
            max-width: 160px;
            height: 247px;
        }
        &__list {
            margin-top: 30px;
        }
    }
    .pagination {
        padding-bottom: 41px;
        &__list {
            margin: 4px 0 5px;
        }
    }
 
}

