/* filter-block */

.filters {
    background: rgba(125, 151, 218, 0.2);
    padding: 41px 0 24px;

    .container {
        display: flex;
        align-items: flex-start;
    }

    h3 {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
    &__apply-btn {
        margin-right: 85px;
        display: block;
        max-width: 95px;
        width: 100%;
        margin: 37px 0 0 60px;
    }

}

/* cost */

.cost {
    max-width: 207px;
    width: 100%;
    &__values {
        display: flex;
        justify-content: space-between;
        margin-top: 11px;
    }
    &__range {
        -webkit-appearance: none;
        width: 188px;
        margin-left: 5px;
        margin-top: 25px;
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            border-radius: 1px;
            background: linear-gradient(to right, #C29974 calc(var(--value)*1%), #72757C 0);
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            border: 8px solid #C29974;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            margin-top: -10px;
        }
        &:hover {
            &::-webkit-slider-thumb {
                opacity: 0.9;
            }
            &::-moz-range-thumb {
                opacity: 0.9;
            }
        }
        &::-moz-range-track {
            -moz-appearance: none;
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: #72757C;
            border-radius: 1px;
        }
        &::-moz-range-thumb {
            -moz-appearance: none;
            height: 24px;
            width: 24px;
            border: 8px solid #C29974;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            margin-top: -10px;
        }
        &::-ms-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: #000000;
            opacity: 0.5;
            border-color: transparent;
            color: transparent;
        }
        &::-ms-fill-lower {
            background: #C29974;
        }
        &::-ms-fill-upper {
            background: #000000;
            opacity: 0.5;
        }
        &::-ms-thumb {
            -ms-appearance: none;
            box-sizing: border-box;
            height: 24px;
            width: 24px;
            border: 8px solid #C29974;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            margin-top: 0px;
        }
    }
}

/* filter-color */
.color-wrapper {
    margin-left: 94px;
}
.color {
    &__list {
        li {
            margin-top: 15px;
        }
    }
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }
    label {
        position: relative;
        margin-left: 30px;
        cursor: pointer;
        transition: .4s;
        &::before {
            content: '';
            position: absolute;
            left: -30px;
            top: 0;
            width: 19px;
            height: 19px;
            border: 2px solid #C29974;
            box-sizing: border-box;
            border-radius: 3px;
        }
        &::after {
            content: '';
            position: absolute;
            left: -27px;
            top: 0;
            width: 15px;
            height: 15px;
            background-image: url(../../static/images/stroke.svg);
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
        }
        &:hover {
            text-decoration-line: underline;
        }
    }
    input[type=checkbox]:checked+label:after {
        opacity: 1;
    }
    input[type=checkbox]:checked+label:before {
        background-color: #fff;
    }
    input[type=checkbox]:focus+label::before {
        outline: #000 auto 1px;
    }
}

/* filter-delivery */
.delivery-wrapper {
    margin-left: 123px;
}

.delivery {
    &__list {
        margin-left: 31px;
        li {
            margin-top: 9px;
        }
    }
    input[type=radio] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }
    label {
        position: relative;
        cursor: pointer;
        transition: .4s;
        &::before {
            content: '';
            position: absolute;
            left: -30px;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #C29974;
            box-sizing: border-box;
            border-radius: 50%;
        }
        &::after {
            content: '';
            position: absolute;
            left: -26px;
            top: 4px;
            width: 12px;
            height: 12px;
            background: #C29974;
            border-radius: 50%;
            opacity: 0;
        }
        &:hover {
            text-decoration-line: underline;
        }
    }
    input[type=radio]:checked+label:after {
        opacity: 1;
    }
    input[type=radio]:focus+label:after {
        outline: #000 auto 1px;
    }
}




/* filter-amount */
.amount-wrapper {
    margin-left: 69px;
}

.amount {
    input[type=radio] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        &:checked+label {
            background: #F3D0DB;
        }
        &:hover+label {
            background: #EDDEEB;
            color: #877379;
        }
        &:focus+label {
            outline: #000 auto 1px;
        }
    }
    label {
        display: block;
        width: 80px;
        text-align: center;
        background-color: #fff;
        padding: 7px 0 6px;
        cursor: pointer;
        transition: .4s;
    }
    &__list {
        display: flex;
    }
}

/* toys-list */

.toys {
    padding-bottom: 44px;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        list-style-type: none;
    }
}